*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
section{
    width: 100%;
}

section .card{
    background-color: rgb(203, 242, 145);
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
    margin: 15px auto;
}
section .card figure{
    width: 100%;
}
section .card figure img{
    width: 100%;
}

section .card h3{
    font-weight: bold;
    padding: 5px 0px;
    font-size: 37px;
}
section .card p{
    margin: 10px 0px;
    font-size: 2em;
    padding: 5px 0px;

}
section .card p::first-letter{
    color: rgb(90, 101, 74);
    font-weight: bold;
    font-size: 42px;
}